@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<!--===== HEADER =====-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">
                KG
            </a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>


<section class="main-bg-section section" id="home">
    <div class="container ">
        <div class="flex inner-main-section split">
            <div class="left-section item-center flex-1">
                <img src="~/images/home_bg.png">
            </div>
            <div class="right-section flex-1">
                <h6>Khageshor Giri</h6>
                <h1>I am <span> Software Engineer </span></h1>
                <p class="home-description">
                    Web developer in ASP.NET.
                    I worked on projects at different scales.
                    I lead and design as well as develop end-to-end user centered driven process that research, concepting, wireframing,
                    interacting prototyping, user interface design.
                </p>
                <div>
                    <a href="#contact" class="btn btn-primary">Contact</a>
                </div>
                <div class="home__social">
                    <a href="" class="home__social-icon "><i class='bx bxl-facebook'></i></a>
                    <a href="" class="home__social-icon home-social-icon-p"><i class='bx bxl-instagram'></i></a>
                    <a href="" class="home__social-icon home-social-icon-p"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section section" id="about">
    <div class="container">
        <h2 class="text-center text-title">About</h2>
        <div class="split about-split">
            <div>
                <h5><i>Khageshor Giri</i></h5>
                <p>
                    Web developer in ASP.NET.
                    I worked on projects at different scales.
                    I lead and design as well as develop end-to-end user centered driven process that research, concepting, wireframing,
                    interacting prototyping, user interface design.
                </p>
            </div>

            <div class="about-img">
                <img src="~/images/home_bg.png">
            </div>
        </div>
    </div>
</section>



<!--===== WORK =====-->
<section class="work-section section" id="work">
    <div class="container">
        <h2 class="text-center text-title">Work</h2>

        <div class="work__container flex split">
            <a href="#" class="work__img">
                <img src="~/images/home_bg.png" alt="">

                <div>
                    <h6 class="work-title" style="font-size:1rem;">First Blog</h6>
                    <hr class="work-hr">
                    <p class="work-description" style="font-size:0.82rem;">
                        This is short description
                    </p>
                </div>
            </a>

            <a href="#" class="work__img">
                <img src="~/images/home_bg.png" alt="">

                <div>
                    <h6 class="work-title" style="font-size:1rem;">First Blog</h6>
                    <hr class="work-hr">
                    <p class="work-description" style="font-size:0.82rem;">
                        This is short description
                    </p>
                </div>
            </a>

            <a href="#" class="work__img">
                <img src="~/images/home_bg.png" alt="">

                <div>
                    <h6 class="work-title" style="font-size:1rem;">First Blog</h6>
                    <hr class="work-hr">
                    <p class="work-description" style="font-size:0.82rem;">
                        This is short description
                    </p>
                </div>
            </a>

            <a href="#" class="work__img">
                <img src="~/images/home_bg.png" alt="">

                <div>
                    <h6 class="work-title" style="font-size:1rem;">First Blog</h6>
                    <hr class="work-hr">
                    <p class="work-description" style="font-size:0.82rem;">
                        This is short description
                    </p>
                </div>
            </a>
        </div>

        <div class="text-center">

            <a href="@Url.Action("BlogDetails","Home")" class="btn btn-primary">Read More</a>
        </div>

    </div>

</section>


<!-- ===== Contact Section ====== -->
<section class="contact-section section" id="contact">

    <div class="container">
        <h2 class="text-title text-center">Contact</h2>
        <div class="contact__container bd-grid">
            @Html.AntiForgeryToken()
            <form action="" class="contact__form">
                <input type="text" placeholder="Name" class="contact__input" id="Contact_Form_name" name="FullName">
                <input type="email" placeholder="Email" class="contact__input" id="Contact_Form_email" name="Email">
                <textarea cols="0" rows="10" class="contact__input" id="Contact_Form_message" name="Message"></textarea>
                <div class="text-center form-inline mb-2" style="margin-top:0">
                    <input type="checkbox" style="width:15px; height:15px" class="mr-1" id="checkBoxForMessage" value="None" />
                    <label style="font-size:14px;">I accept all the trems and condition for sending message.</label>
                </div>

                <div class="mt-3">
                    <input type="submit" value="Send Message" class="btn btn-primary btn-contact" id="SendMessage" disabled>
                </div>

            </form>
        </div>
    </div>

</section>


<!--===== FOOTER =====-->
<footer class="footer-section ">
    <div class="container">
        <h2 class="text-center text-title">Khageshor Giri</h2>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        </div>
        <p class="footer__copy">&#169; Khageshor Giri. All rigths reserved</p>
    </div>

</footer>