
@model CMgt.DAL.Entities.Category

<!-- Add New Blog Category Model -->
<div class="modal fade" id="AddNewCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddNewCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddNewCategoryLabel">  <i class="bi bi-plus-circle"></i>  Add New Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addNewCategoryForm">
                   <div class="row">
                       <div class="col-md-12 form-group">
                           <label asp-for="CategoryName" class="form-label">Category <span class="text-danger">*</span></label>
                            <input id="CategoryName" name="CategoryName" class="form-control" asp-for="CategoryName" />
                       </div>
                        <div class="col-md-12 form-group mt-2">
                            <label asp-for="Description" class="form-label">Short Description <span class="text-danger">*</span> </label>
                            <textarea rows="2" id="Description" name="Description" class="form-control" asp-for="Description"></textarea>
                        </div>
                   </div>
                </form>
                <div class="modal-footer mt-2">
                    <button id="btnAddNewCategory" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
           
        </div>
    </div>
</div>
