@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model CMgt.shared.ViewModels.BlogPostVM

<div class="card shadow p-3">
    <div class="card-body">
        <form asp-action="YourActionMethod" asp-controller="YourController" enctype="multipart/form-data" method="post">
            <div class="row">

                <div class="form-group col-md-3 my-2">
                    <label asp-for="Date" class="form-label">Date</label>
                    <input asp-for="Date" class="form-control" type="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 my-2">
                    <label asp-for="ImageFile" class="form-label">Thumbnail Image</label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 my-2">
                    <label asp-for="CategoryID" class="form-label"> Category</label>
                    <select class="form-control" id="CategoryOptions">
                        <option value="">Select Category</option>
                        @foreach (var cgr in ViewBag.AllCategories)
                        {
                            <option value="@cgr.Id">@cgr.Category</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 my-2">
                    <label asp-for="SubCategoryID" class="form-label">SubCategory</label>
                    <select class="form-control" id="CategoryOptions">
                        <option value="">Select Sub-Category</option>
                        @foreach (var sub in ViewBag.AllSubCategory)
                        {
                            <option value="@sub.Id">@sub.SubCategory</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>


                <div class="form-group col-md-12 my-2">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" type="text" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                
                <div class="form-group col-md-12 my-2">
                    <label asp-for="ShortDescription" class="form-label">Short Description</label>
                    <textarea asp-for="ShortDescription" class="form-control"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12 my-2">
                    <label asp-for="Description" class="form-label"> Blog Content</label>
                    <textarea id="Description" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button id="CreateNewBlog" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

@section scripts {

    <!-- TinyMCE -->
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>

        tinymce.init({
            selector: '#Description',  // change this value according to your HTML
            branding: false,
            custom_ui_selector: '.my-custom-button',
            height: '500',
            menubar: ' edit view insert format tools table',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist  | forecolor backcolor removeformat | emoticons | fullscreen  | image  link | code',
            plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments mentions quickbars linkchecker emoticons advtable export',
            images_upload_url: "/Blogs/Upload",
            document_base_url: "~/",

        });

    </script>

}