@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card shadow p-3 mt-2">
    <div class="card-body">
        <div class="row">
            <div class="d-flex justify-content-end my-3">
                <button class="btn btn-primary" id="btnAddNewBlogCategory" data-bs-toggle="modal" data-bs-target="#AddNewBlogCategoryModal">
                    <i class="bi bi-plus-circle"></i> Add New Category
                </button>
            </div>
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-striped" id="tblProductIndexTable">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>SIBN</th>
                            <th>Product Name</th>
                            <th>Category Name</th>
                            <th>Sub Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>Men-Tshirt</td>
                            <td>Category</td>
                            <td>Description</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary" data-id="1"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-sm btn-outline-danger ms-1" data-id="2"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>Men-Tshirt</td>
                            <td>Category</td>
                            <td>Description</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary" data-id="1"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-sm btn-outline-danger ms-1" data-id="2"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>Men-Tshirt</td>
                            <td>Category</td>
                            <td>Description</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary" data-id="1"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-sm btn-outline-danger ms-1" data-id="2"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>



    </script>

}