@model CMgt.DAL.Entities.BlogSubCategory

<div class="modal fade" id="AddNewBlogSubCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddNewBlogSubCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddNewBlogSubCategoryLabel">Add New Blog Sub Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addNewBlogSubCategoryForm">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="SubCategory" class="form-label">Sub Category</label>
                            <input id="SubCategory" name="SubCategory" class="form-control" asp-for="SubCategory" />
                        </div>
                        <div class="col-md-12 form-group mt-2">
                            <label asp-for="CategoryID" class="form-label">Category</label>
                            <select class="form-control"  id="CategoryOptions">
                                <option value="">Select Category</option>
                                @foreach (var cgr in ViewBag.AllCategories)
                                {
                                    <option value="@cgr.Id">@cgr.Category</option>
                                }
                            </select>
                            <input id="CategoryID" name="CategoryID" class="form-control" asp-for="CategoryID" hidden readonly/>
                        </div>
                        <div class="col-md-12 form-group mt-2">
                            <label asp-for="Description" class="form-label">Short Description</label>
                            <textarea id="SubCategoryDescription" name="SubCategoryDescription" rows="2" class="form-control" asp-for="Description"></textarea>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button id="btnAddNewSubCategory" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
          
        </div>
    </div>
</div>